*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    margin-bottom: 0%;
    font-family: sans-serif;
}
.black{
    background-color: rgb(22, 21, 21);
    height: 50px;
}
.crunch{
    color: white;
    margin-left: 100px;
    position:absolute;
    margin-top: 12px;
}
.links{
    margin-left:1250px;
    color: red;
    position:absolute;
    margin-top: 14px;
    
}
a{
    color: crimson;
}
.intro{
    position: absolute;
    margin-top: 350px;
    text-align: center;
    margin-bottom: 270px;
    color: white;
    font-weight: bold;
    margin-left: 380px;
}
.describe{
    font-size:20px;
}
.footer{
    position: absolute;
    text-align: center;
    color:white;
    font-weight: bold;
    margin-left: 750px;
    margin-top: 20px;
}
.first{
    background-image: url(../images/pizza3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 960px;
    opacity: .98;
    margin-top:
}
.discover{
    margin-top: 70px;
    height: 50px;
    width: 100px;
    border: none;
    background-color:crimson;
    color: white;
    border-radius: 10px;
}
.container-1{
    /* border: 10px;
    padding:70px;
 */
 display: flex;
 margin-top: 60px;
}

.choose{
    text-align: center;
    color:white;
}
.magherita-image{
    width: 400px;
    height:350px;
    margin-left: 250px;
    padding: 5px;
    margin-top: 15px;
}
.magherita-text{
    text-align: center;
    margin-left: 70px;;
    color: white;
}
/* .container-2{
display: flex;
margin-top: 60px;
} */
.hawaian-image{
    width: 400px;
    height:350px;
    margin-left: 250px;
    padding: 5px;
    margin-top:120px;

}
.hawaian-text{
    text-align: center;
    margin-top:100px;
    margin-left: 70px;;
    color: white;

}

.nyamachoma-image{

    width: 400px;
    height:400px;
    margin-left: 250px;
    padding: 5px;
    margin-top: 130px;
}
.nyamachoma-text{
    text-align: center;
    margin-top:90px;
    margin-left: 70px;;
    color: white;

}
.order-marghe{
    position:absolute;
    margin-top: 400px;
    margin-left: 970px;
}
.order-hawai{
    position:absolute;
    margin-top: 500px;
    margin-left: 970px;


}
.order-nyama{
    position:absolute;
    margin-top: 550px;
    margin-left: 970px;

}
.order-veggie{
    position:absolute;
    margin-top: 520px;
    margin-left: 970px;
 
}
.prices-marghe{
    position: absolute;
    margin-top: 280px;
    margin-left: 950px;
    color:white;
}
.prices-hawai{
    position: absolute;
    margin-top: 380px;
    margin-left: 950px;
    color:white;

}

.prices-nyama{
    position: absolute;
    margin-top: 430px;
    margin-left: 950px;
    color: white
}
.prices-veggie{
    position: absolute;
    margin-top: 400px;
    margin-left: 950px 
}
.delivery{
    background-image: url(../images/delivery.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 960px;
    opacity: .98;
    margin-top:10px;

}
.menu{
    background-image: url(../images/black2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1050px;
    opacity: .98;
    margin-top:
}
.menu-2{
    background-image: url(../images/black2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
    opacity: .98;
}
.black-menu{
    background-color: rgb(22, 21, 21);
    height: 50px;
    margin-top:80px;

}
.footer-menu{
    position: absolute;
    text-align: center;
    color:white;
    font-weight: bold;
    margin-left: 750px;
    margin-top: 14px
}